@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");
:root {
  --primary-color: rgb(240, 237, 237);
  --font2-color: rgb(80, 76, 76);
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  padding: 1em 1em;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
}
.navbar .container .logo-container {
  display: flex;
}
.navbar .container .logo-container .logo {
  margin-right: 0;
  width: 50%;
}
.navbar .container .logo-container .logo a {
  cursor: pointer;
}
.navbar .container p {
  display: none;
}
.navbar .container .mobile-menu {
  display: inline-block;
  cursor: pointer;
}
.navbar .container .mobile-menu .bar1, .navbar .container .mobile-menu .bar2, .navbar .container .mobile-menu .bar3 {
  width: 18px;
  height: 0.2px;
  background-color: #333;
  margin: 6px 10px 6px 10px;
  transition: 0.4s;
}
.navbar .container .mobile-menu.change {
  /* Fade out the second bar */
  /* Rotate last bar */
}
.navbar .container .mobile-menu.change .bar1 {
  transform: translate(0, 6.5px) rotate(-45deg);
}
.navbar .container .mobile-menu.change .bar2 {
  opacity: 0;
}
.navbar .container .mobile-menu.change .bar3 {
  transform: translate(0, -6.5px) rotate(45deg);
}
.navbar .container nav {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 999;
  left: 0;
  top: 3.85em;
  background-color: var(--primary-color);
  transition: 0.5s;
  right: -100%;
}
.navbar .container nav a img {
  top: 0;
  right: 0;
  width: 10%;
}
.navbar .container nav .language {
  display: inline-block;
  padding: 3em 0 1em 17em;
  font-weight: bold;
}
.navbar .container nav .language li {
  display: inline-block;
  padding-right: 0.5em;
}
.navbar .container nav .language li a {
  border: 2px solid transparent;
}
.navbar .container nav .language li a:hover {
  color: var(--font2-color);
}
.navbar .container nav .language li a:active {
  border-color: rgb(28, 2, 89);
  box-sizing: border-box;
}
.navbar .container nav img {
  display: inline-block;
  width: 5%;
  vertical-align: middle;
  margin-right: 1em;
  border: 2px solid transparent;
}
.navbar .container nav img:hover {
  font-weight: bold;
}
.navbar .container nav img:active {
  border-color: rgb(28, 2, 89);
  box-sizing: border-box;
}
.navbar .container nav .subnav {
  display: block;
  padding-bottom: 3em;
  line-height: 2.5;
  font-weight: bold;
}
.navbar .container nav .subnav li a {
  border: 2px solid transparent;
  display: block;
  padding-left: 1em;
  margin-right: 1em;
}
.navbar .container nav .subnav li a:hover {
  color: var(--font2-color);
}
.navbar .container nav .subnav li a:active {
  border-color: rgb(28, 2, 89);
  box-sizing: border-box;
}
.navbar .container nav .navlist {
  padding-left: 1em;
  line-height: 2em;
  display: contents;
}
.navbar .container nav .navlist li {
  padding-left: 1em;
}
.navbar .container nav .navlist li .btn {
  border: none;
  line-height: inherit;
}
.navbar .container nav .navlist li .btn:hover {
  color: var(--font2-color);
  cursor: pointer;
}
.navbar .container nav .navlist li .btn-sm {
  font-size: 100%;
}
.navbar .container nav .navlist li .float-right {
  float: right;
  padding-right: 1em;
}
.navbar .container nav .navlist li a {
  border: 2px solid transparent;
}
.navbar .container nav .navlist li a:hover {
  font-weight: bold;
}
.navbar .container nav .navlist li a:active {
  border-color: rgb(28, 2, 89);
  box-sizing: border-box;
}
.navbar .container nav ul {
  list-style: none;
  margin: 0;
}

.hide-mobile {
  display: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

hr {
  background-color: rgb(161, 160, 160);
  height: 4px;
  border: none;
  margin-top: 0;
  margin-bottom: 0;
}

.slideshow-container {
  position: relative;
  margin: auto;
  width: 100%;
  /* Position the "next button" to the right */
}
.slideshow-container .mySlides {
  display: none;
  width: 100%; /* Adjust the width as needed */
  max-height: 350px;
  padding-bottom: 2em;
}
.slideshow-container .mySlides img {
  width: 100%;
  height: 350px;
}
.slideshow-container .mySlides .numbertext {
  color: var(--font2-color);
  font-size: 1em;
  padding: 8px 12px;
  position: absolute;
  top: 89%;
  left: 44%;
}
.slideshow-container .mySlides .text {
  color: var(--primary-color);
  font-size: 1.2em;
  position: absolute;
  top: 10%;
  left: 14%;
  transform: translate(-10%, -10%);
  font-weight: 500;
  width: 80%;
  text-align: left;
  line-height: 1.1;
  padding: 0em 2em 2em 1em;
}
.slideshow-container .mySlides .cta {
  background: var(--primary-color);
  color: black;
  text-decoration: none;
  font-size: 0.75em;
  position: absolute;
  z-index: 1;
  padding: 1.5em 1em 1.5em 3em;
  top: 30%;
  left: 13%;
  transform: translate(-13%, -13%);
  font-weight: 600;
  width: 59%;
  text-align: left;
  cursor: pointer;
  border-radius: 0.3em;
  margin-left: 1em;
}
.slideshow-container .mySlides .cta span {
  float: right;
  font-size: xx-large;
  line-height: 0.7;
  color: var(--font2-color);
  font-weight: 200;
  line-height: 0.5em;
  margin-right: 0.1em;
}
.slideshow-container .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.slideshow-container .prev, .slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 90%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: var(--font2-color);
  transition: 0.6s ease;
  border-radius: 0 10px 10px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 1.6em;
  font-weight: 300;
}
.slideshow-container .play-btn {
  border: transparent;
  background-color: transparent;
  position: absolute;
  top: 87%;
  right: 0;
  font-size: xx-large;
  margin: 0;
}
.slideshow-container .play-btn .play-icon {
  color: var(--font2-color); /* Set the icon color to white */
}
.slideshow-container .next {
  right: 35%;
  transform: translateX(50%);
  border-radius: 3px 0 0 3px;
  left: auto;
}
.slideshow-container .prev {
  left: 25%;
  transform: translateX(50%);
  border-radius: 3px 0 0 3px;
  right: auto;
}
.slideshow-container .square-hide-mobile {
  display: none;
}
.slideshow-container .square-hide-mobile span {
  cursor: pointer;
  height: 5px;
  width: 60px;
  margin: 0;
  background-color: var(--primary-color);
  display: inline-block;
  transition: background-color 0.6s ease;
}

.inspriation-topics {
  padding-bottom: 2em;
}
.inspriation-topics h1 {
  margin: 0;
  padding: 1em 1.5em 0em 1.5em;
  color: var(--font2-color);
}
.inspriation-topics ul {
  padding: 0em 0.75em;
}
.inspriation-topics ul li {
  margin: 0;
  padding: 2em 1em 0em 1.5em;
}
.inspriation-topics ul li a .image-with-quote {
  margin: 0;
  position: relative;
}
.inspriation-topics ul li a .image-with-quote img {
  display: block; /* Ensure the image is a block element */
  width: 100%;
  border-bottom: 5px solid rgb(227, 108, 17);
}
.inspriation-topics ul li a .image-with-quote .second-img {
  border-bottom: 5px solid var(--font2-color);
}
.inspriation-topics ul li a .image-with-quote blockquote {
  position: absolute; /* Position the blockquote absolutely within the figure */
  top: 0; /* Adjust the position as needed, e.g., 'top: 0;' to place it at the top */
  left: 0; /* Adjust the position as needed, e.g., 'right: 0;' to place it on the right */
  margin: 1em; /* Remove default margin */
  color: white;
  font-weight: 500;
  font-size: large;
  width: 90%;
}

.current-topic h1 {
  margin: 0;
  padding: 0em 1.5em;
  color: var(--font2-color);
}
.current-topic ul {
  padding: 0em 0.75em;
}
.current-topic ul li {
  margin: 0;
  padding: 2em 1em 0em 1em;
}
.current-topic ul li a .image-with-quote-figcaption {
  margin: 0;
  position: relative;
  margin-left: 0.5em;
}
.current-topic ul li a .image-with-quote-figcaption img {
  width: 100%;
}
.current-topic ul li a .image-with-quote-figcaption figcaption {
  color: var(--font2-color);
}
.current-topic ul li a .image-with-quote-figcaption figcaption img {
  width: 5%;
  vertical-align: middle;
}
.current-topic ul li a .image-with-quote-figcaption h1 {
  margin: 0;
  padding: 1em 0em;
  color: var(--font2-color);
  font-weight: 550;
  font-size: 1.3em;
}
.current-topic ul li a .image-with-quote-figcaption blockquote {
  padding: 0em;
  margin: 0;
  color: var(--font2-color);
  font-weight: 600;
  font-size: 0.8em;
  line-height: 1.5;
}
.current-topic .more-info-cta {
  background: rgb(123, 121, 121);
  color: white;
  padding: 1em 1em 1em 2em;
  font-size: 0.9em;
  display: inline-block;
  font-weight: bold;
  width: 60%;
  cursor: pointer;
  margin: 4em 2em 4em 2.5em;
  border-radius: 0.2em;
}
.current-topic .more-info-cta span {
  float: right;
  font-size: xx-large;
  line-height: 0.5em;
  font-weight: normal;
  margin-right: 0.2em;
}

.footer-links .first-column {
  padding: 3em 2em;
}
.footer-links .first-column li {
  color: var(--font2-color);
  padding-bottom: 0.75em;
}
.footer-links .second-column {
  padding: 0em 1em 3em 2em;
}
.footer-links .second-column li {
  color: var(--font2-color);
  padding-bottom: 0.75em;
}
.footer-links .third-column {
  padding: 0em 1em 3em 2em;
}
.footer-links .third-column li {
  color: var(--font2-color);
  padding-bottom: 0.75em;
}
.footer-links .socialmedia-column {
  display: flex;
  padding: 0em 1em 3em 2em;
  justify-content: flex-start;
}
.footer-links .socialmedia-column img {
  margin-right: 2em;
}

.bottom-navbar {
  background-color: var(--primary-color);
  margin: 0;
  padding: 1em;
}
.bottom-navbar .nav-container {
  padding: 1em 0.3em;
}
.bottom-navbar .nav-container li {
  padding: 0.5em;
}
.bottom-navbar .nav-container li a {
  color: var(--font2-color);
  border: 2px solid transparent;
  display: block;
}
.bottom-navbar .nav-container li a:active {
  border-color: rgb(28, 2, 89);
  box-sizing: border-box;
}

/*resposive design*/
@media only screen and (min-width: 481px) {
  .navbar .container .logo-container {
    padding-left: 1.5em;
  }
  .navbar .container .logo-container .logo {
    overflow: hidden;
  }
  .navbar .container .logo-container a img {
    padding-top: 1em;
  }
  .navbar .container p {
    display: block;
    margin-left: 8em;
    font-weight: 800;
    padding: 0 0 0.5em 1em;
  }
  .navbar .container .mobile-menu {
    padding-top: 0.7em;
  }
  .slideshow-container .mySlides {
    max-height: 350px;
    padding-bottom: 0.5em;
  }
  .slideshow-container .mySlides img {
    width: 100%;
    height: 150px;
  }
  .slideshow-container .mySlides .cta {
    top: 48%;
    width: 50%;
    margin-left: 4em;
    left: 6%;
  }
  .slideshow-container .mySlides .numbertext {
    display: none;
  }
  .slideshow-container .next {
    right: 4%;
    transform: translateX(50%);
    border-radius: 1px 0 0 1px;
    left: auto;
    top: 35%;
    font-size: xx-large;
    color: var(--primary-color);
  }
  .slideshow-container .prev {
    left: -11px;
    transform: translateX(5%);
    border-radius: 1px 0 0 1px;
    right: auto;
    top: 35%;
    font-size: xx-large;
    color: var(--primary-color);
  }
  .slideshow-container .play-btn {
    top: 77%;
  }
  .slideshow-container .square-hide-mobile {
    display: block;
    padding-top: 0;
  }
  .content .inspriation-topics {
    padding-bottom: 0;
  }
  .content .inspriation-topics h1 {
    padding-left: 1.5em;
    font-size: larger;
  }
  .content .inspriation-topics ul {
    display: flex;
    flex-wrap: wrap;
    padding: 1em 0.5em 0em 1em;
  }
  .content .inspriation-topics ul li {
    width: 45%;
    padding: 1em 0.5em 3em 0.5em;
  }
  .content .inspriation-topics ul li a .image-with-quote {
    margin: 0;
  }
  .content .current-topic h1 {
    font-size: larger;
    padding-left: 1.5em;
    padding-bottom: 1.5em;
  }
  .content .current-topic ul {
    display: flex;
    flex-wrap: wrap;
    padding: 1em 0.5em 0em 1em;
  }
  .content .current-topic ul li {
    width: 46%;
    padding: 0em 0.4em 0em 0em;
  }
  .content .current-topic ul li a .image-with-quote-figcaption figcaption {
    font-size: medium;
    padding-right: 0.5em;
  }
  .content .current-topic ul li a .image-with-quote-figcaption figcaption img {
    width: 7%;
  }
  .content .current-topic ul li a .image-with-quote-figcaption h1 {
    width: 100%;
    font-size: large;
  }
  .content .current-topic ul li a .image-with-quote-figcaption blockquote {
    padding-bottom: 3em;
  }
  .content .current-topic .more-info-cta {
    width: 48%;
    margin-left: 1.5em;
  }
  footer .footer-links {
    display: flex;
    flex-wrap: wrap;
  }
  footer .footer-links .first-column {
    padding: 3em 0.5em 3em 1.5em;
    width: 45%;
  }
  footer .footer-links .second-column {
    padding: 3em 0.5em 3em 1.5em;
  }
  footer .footer-links .third-column {
    padding: 0em 0.5em 3em 1.5em;
    width: 50%;
  }
  footer .footer-links .socialmedia-column {
    padding: 0em 0em 0em 1.5em;
    display: contents;
  }
  footer .footer-links .socialmedia-column li a img {
    margin-right: 1.1em;
  }
}
@media only screen and (min-width: 1281px) {
  .footer-hr {
    height: 1px;
  }
  .navbar .container {
    display: flex;
  }
  .navbar .container .logo-container {
    padding-left: 1.5em;
  }
  .navbar .container .logo-container .logo {
    width: 60%;
  }
  .navbar .container .logo-container a img {
    padding-top: 1em;
    width: 100%;
  }
  .navbar .container p {
    margin-left: 55em;
    font-weight: 500;
    padding: 0 0 0.5em 1em;
  }
  .navbar .container .mobile-menu {
    padding-top: 0.7em;
  }
  .slideshow-container {
    height: 520px;
    padding-bottom: 4em;
  }
  .slideshow-container .mySlides {
    max-height: 350px;
  }
  .slideshow-container .mySlides img {
    width: 100%;
    height: 520px;
  }
  .slideshow-container .mySlides .text {
    font-size: x-large;
    font-weight: bold;
  }
  .slideshow-container .mySlides .cta {
    top: 20%;
    width: 20%;
    margin-left: 4em;
    left: 6%;
  }
  .slideshow-container .mySlides .numbertext {
    display: none;
  }
  .slideshow-container .prev, .slideshow-container .next {
    padding: 16px;
    margin-top: -22px;
    color: var(--primary-color);
    font-size: 3em;
  }
  .slideshow-container .play-btn {
    top: 90%;
  }
  .slideshow-container .square-hide-mobile {
    display: block;
    padding-top: 10em;
  }
  .slideshow-container .square-hide-mobile span {
    height: 3px;
    width: 80px;
  }
  .content .inspriation-topics {
    padding-bottom: 0;
  }
  .content .inspriation-topics h1 {
    padding-left: 2em;
    font-size: xx-large;
  }
  .content .inspriation-topics ul {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1em;
  }
  .content .inspriation-topics ul li {
    width: 28%;
    padding-right: 0.85em;
  }
  .content .inspriation-topics ul li a .image-with-quote {
    margin: 0;
  }
  .content .inspriation-topics ul li a .image-with-quote blockquote {
    font-size: xx-large;
  }
  .content .inspriation-topics ul li:first-child {
    padding-left: 3.5em;
  }
  .content .current-topic h1 {
    font-size: xx-large;
    padding-left: 2em;
    padding-bottom: 1em;
  }
  .content .current-topic ul {
    display: flex;
    flex-wrap: wrap;
    padding: 1em 0.5em 0em 3.5em;
  }
  .content .current-topic ul li {
    width: 28%;
    padding: 0em 0.4em 0em 0.5em;
  }
  .content .current-topic ul li a .image-with-quote-figcaption figcaption {
    font-size: medium;
    padding-right: 0.5em;
    padding-top: 1em;
    width: 100%;
  }
  .content .current-topic ul li a .image-with-quote-figcaption figcaption img {
    width: 4%;
  }
  .content .current-topic ul li a .image-with-quote-figcaption h1 {
    width: 100%;
    font-size: x-large;
  }
  .content .current-topic ul li a .image-with-quote-figcaption blockquote {
    padding-bottom: 3em;
    font-size: 0.87em;
    font-weight: 700;
  }
  .content .current-topic ul li:first-child {
    width: 68%;
    padding-right: 2em;
  }
  .content .current-topic ul li:first-child a .image-with-quote-figcaption {
    display: flex;
    padding-bottom: 3em;
  }
  .content .current-topic ul li:first-child a .image-with-quote-figcaption img {
    width: 84%;
  }
  .content .current-topic ul li:first-child a .image-with-quote-figcaption .caption {
    padding-left: 1em;
    top: 100px;
    left: 8px;
    position: relative;
  }
  .content .current-topic ul li:first-child a .image-with-quote-figcaption .caption figcaption {
    font-size: medium;
    padding-top: 1.8em;
    width: 243%;
  }
  .content .current-topic ul li:first-child a .image-with-quote-figcaption .caption figcaption img {
    width: 5%;
  }
  .content .current-topic ul li:first-child a .image-with-quote-figcaption .caption h1 {
    width: 218%;
  }
  .content .current-topic ul li:first-child a .image-with-quote-figcaption .caption blockquote {
    width: 286%;
    font-size: 0.87em;
    font-weight: 700;
  }
  .content .current-topic ul li:nth-child(5) {
    width: 68%;
    padding-right: 2em;
  }
  .content .current-topic ul li:nth-child(5) a .image-with-quote-figcaption {
    display: flex;
    padding-bottom: 3em;
  }
  .content .current-topic ul li:nth-child(5) a .image-with-quote-figcaption img {
    width: 84%;
  }
  .content .current-topic ul li:nth-child(5) a .image-with-quote-figcaption .caption {
    padding-left: 1em;
    top: 78px;
    left: 8px;
    position: relative;
  }
  .content .current-topic ul li:nth-child(5) a .image-with-quote-figcaption .caption figcaption {
    font-size: medium;
    padding-top: 1.8em;
    width: 218%;
  }
  .content .current-topic ul li:nth-child(5) a .image-with-quote-figcaption .caption figcaption img {
    width: 5%;
  }
  .content .current-topic ul li:nth-child(5) a .image-with-quote-figcaption .caption h1 {
    width: 218%;
  }
  .content .current-topic ul li:nth-child(5) a .image-with-quote-figcaption .caption blockquote {
    width: 218%;
    font-size: 0.87em;
    font-weight: 700;
  }
  .content .current-topic .more-info-cta {
    width: 24%;
    margin-left: 3em;
    font-weight: 600;
    font-size: large;
  }
  footer .footer-links .first-column {
    padding: 3em 0em 3em 4.5em;
    width: 20%;
    font-size: medium;
  }
  footer .footer-links .second-column {
    padding: 3em 0em 3em 0em;
    font-size: medium;
    width: 20%;
  }
  footer .footer-links .third-column {
    padding: 3em 0em 3em 0em;
    width: 20%;
    font-size: medium;
  }
  footer .footer-links .socialmedia-column {
    padding: 3em 0em 0em 0em;
    display: flex;
    margin-left: 3em;
    width: 20%;
  }
  footer .footer-links .socialmedia-column li a img {
    margin-right: 2em;
    width: 40%;
  }
  .bottom-navbar {
    width: 100%;
    padding: 0;
  }
  .bottom-navbar .nav-container {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 3em;
  }
  .bottom-navbar .nav-container nav ul {
    display: flex;
    padding-left: 1em;
  }
  .bottom-navbar .nav-container nav ul li:first-child {
    margin-left: 0em;
  }
  .bottom-navbar .nav-container nav ul li {
    font-size: medium;
    margin-left: 2.5em;
    font-weight: 550;
  }
}/*# sourceMappingURL=style.css.map */